# Debugging output
out
tests/output/

# Python virtual environments
.venv/

# antsibull-docs output
dest/

# antsibull-changelog cache
changelogs/.plugin-cache.yaml

# Local Testing
tests/integration/integration_config.yml

# Python cache
__pycache__/
*.py[cod]
*.pyo