# Debugging output
out
tests/output/

# Python virtual environments
.venv/

# sphinx doc builds
build/

# antsibull-docs output
dest/

# antsibull-changelog cache
changelogs/.plugin-cache.yaml

# Local Testing
tests/integration/integration_config.yml
tests/integration/inventory

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Local claude files
.claude/