---
- name: Stop and remove cluster_dns_servers_to_create Technitium DNS container
  community.docker.docker_container:
    name: "{{ container.name }}"
    state: absent
  loop: "{{ cluster_dns_servers_to_create }}"
  loop_control:
    loop_var: container
    label: "{{ container.name }}"

- name: Prune dangling and unused Docker volumes
  community.docker.docker_prune:
    volumes: true
    volumes_filters:
      all: true
    networks: true
