---
# Setup tasks - Create and configure test cluster

- name: Create Docker network for cluster
  community.docker.docker_network:
    name: "{{ cluster_network_name }}"
    ipam_config:
      - subnet: "{{ cluster_subnet }}"
    state: present

- name: Start primary Technitium DNS container
  community.docker.docker_container:
    name: "{{ cluster_primary_container_name }}"
    hostname: "{{ cluster_primary_container_name }}"
    image: "{{ cluster_container_image }}"
    ports:
     - "{{ cluster_primary_http_port }}:{{ cluster_primary_http_port }}/tcp"
     - "{{ cluster_primary_https_port }}:{{ cluster_primary_https_port }}/tcp"
    state: started
    restart_policy: "no"
    networks:
      - name: "{{ cluster_network_name }}"
        ipv4_address: "{{ cluster_primary_ip }}"
    env:
      DNS_SERVER_DOMAIN: "{{ primary_domain }}"
      DNS_SERVER_ADMIN_PASSWORD: "{{ cluster_admin_password }}"
      DNS_SERVER_WEB_SERVICE_HTTP_PORT: "{{ cluster_primary_http_port }}"
      DNS_SERVER_WEB_SERVICE_HTTPS_PORT: "{{ cluster_primary_https_port }}"
      DNS_SERVER_WEB_SERVICE_ENABLE_HTTPS: "true"
      DNS_SERVER_WEB_SERVICE_USE_SELF_SIGNED_CERT: "true"
  register: primary_container

- name: Debug primary container info
  ansible.builtin.debug:
    var: primary_container

- name: Start secondary Technitium DNS container
  community.docker.docker_container:
    name: "{{ cluster_secondary_container_name }}"
    hostname: "{{ cluster_secondary_container_name }}"
    image: "{{ cluster_container_image }}"
    ports:
     - "{{ cluster_secondary_http_port }}:{{ cluster_secondary_http_port }}/tcp"
     - "{{ cluster_secondary_https_port }}:{{ cluster_secondary_https_port }}/tcp"  
    state: started
    restart_policy: "no"
    networks:
      - name: "{{ cluster_network_name }}"
        ipv4_address: "{{ cluster_secondary_ip }}"
    env:
      DNS_SERVER_DOMAIN: "{{ secondary_domain }}"
      DNS_SERVER_ADMIN_PASSWORD: "{{ cluster_admin_password }}"
      DNS_SERVER_WEB_SERVICE_HTTP_PORT: "{{ cluster_secondary_http_port }}"
      DNS_SERVER_WEB_SERVICE_HTTPS_PORT: "{{ cluster_secondary_https_port }}"
      DNS_SERVER_WEB_SERVICE_ENABLE_HTTPS: "true"
      DNS_SERVER_WEB_SERVICE_USE_SELF_SIGNED_CERT: "true"

- name: Wait for containers to start
  ansible.builtin.pause:
    seconds: "{{ cluster_startup_wait_seconds }}"

- name: Wait for primary node API to be ready and login
  effectivelywild.technitium_dns.technitium_dns_login:
    api_url: http://localhost
    api_port: "{{ cluster_primary_http_port }}"
    username: "{{ cluster_admin_username }}"
    password: "{{ cluster_admin_password }}"
    validate_certs: no
  register: primary_login
  retries: "{{ cluster_api_retry_count }}"
  delay: "{{ cluster_api_retry_delay }}"
  until: primary_login is succeeded

- name: Wait for secondary node API to be ready and login
  effectivelywild.technitium_dns.technitium_dns_login:
    api_url: http://localhost
    api_port: "{{ cluster_secondary_http_port }}"
    username: "{{ cluster_admin_username }}"
    password: "{{ cluster_admin_password }}"
    validate_certs: no
  register: secondary_login
  retries: "{{ cluster_api_retry_count }}"
  delay: "{{ cluster_api_retry_delay }}"
  until: secondary_login is succeeded

- name: Save primary node token
  ansible.builtin.set_fact:
    cluster_primary_token: "{{ primary_login.token }}"
    cacheable: yes

- name: Save secondary node token
  ansible.builtin.set_fact:
    cluster_secondary_token: "{{ secondary_login.token }}"
    cacheable: yes

- name: Initialize cluster on primary node
  effectivelywild.technitium_dns.technitium_dns_init_cluster:
    api_url: http://localhost
    api_port: "{{ cluster_primary_http_port }}"
    api_token: "{{ cluster_primary_token }}"
    cluster_domain: "{{ cluster_domain }}"
    primary_node_ip_address: "{{ cluster_primary_ip }}"
    validate_certs: no
  register: cluster_init

- name: Print cluster init result
  ansible.builtin.debug:
    var: cluster_init

- name: Wait for cluster initialization to complete
  ansible.builtin.pause:
    seconds: 10

- name: Join secondary node to cluster
  effectivelywild.technitium_dns.technitium_dns_init_join_cluster:
    api_url: http://localhost
    api_port: "{{ cluster_secondary_http_port }}"
    api_token: "{{ cluster_secondary_token }}"
    secondary_node_ip_address: "{{ cluster_secondary_ip }}"
    primary_node_url: "https://cluster01.{{ cluster_domain }}:{{ cluster_primary_https_port }}/"
    primary_node_ip_address: "{{ cluster_primary_ip }}"
    primary_node_username: "{{ cluster_admin_username }}"
    primary_node_password: "{{ cluster_admin_password }}"
    ignore_certificate_errors: true
  register: cluster_join

- name: Wait for cluster to stabilize
  ansible.builtin.pause:
    seconds: 10

- name: Verify cluster state on primary
  effectivelywild.technitium_dns.technitium_dns_get_cluster_state:
    api_url: http://localhost
    api_port: "{{ cluster_primary_http_port }}"
    api_token: "{{ cluster_primary_token }}"
    validate_certs: no
  register: cluster_state_primary

- name: Print cluster state primary
  ansible.builtin.debug:
    var: cluster_state_primary

- name: Export cluster variables for tests
  ansible.builtin.set_fact:
    # Primary node
    cluster_primary_url: "http://localhost"
    cluster_primary_http_port: "{{ cluster_primary_http_port }}"
    cluster_primary_https_port: "{{ cluster_primary_https_port }}"
    cluster_primary_api_token: "{{ cluster_primary_token }}"
    cluster_primary_node_domain: "cluster01.{{ cluster_domain }}"
    cluster_primary_node_ip: "{{ cluster_primary_ip }}"

    # Secondary node
    cluster_secondary_url: "http://localhost"
    cluster_secondary_http_port: "{{ cluster_secondary_http_port }}"
    cluster_secondary_https_port: "{{ cluster_secondary_https_port }}"
    cluster_secondary_api_token: "{{ cluster_secondary_token }}"
    cluster_secondary_node_domain: "cluster02.{{ cluster_domain }}"
    cluster_secondary_node_ip: "{{ cluster_secondary_ip }}"

    # Cluster info
    cluster_is_ready: true
    cluster_primary_node_url: "https://cluster01.{{ cluster_domain }}:{{ cluster_primary_https_port }}/"
    cluster_admin_user: "{{ cluster_admin_username }}"
    cluster_admin_pass: "{{ cluster_admin_password }}"

- name: Display cluster setup summary
  ansible.builtin.debug:
    msg:
      - "Cluster setup complete!"
      - "Primary API Token: {{ cluster_primary_api_token }}"
      - "Secondary API Token: {{ cluster_secondary_api_token }}"
      - "Primary http port: {{ cluster_primary_http_port }}"
      - "Secondary http port: {{ cluster_secondary_http_port }}"
