- name: Cluster testing
  hosts: localhost
  gather_facts: false
  vars_files:
    - "{{ playbook_dir }}/../../../tests/integration/integration_config.yml"
  tasks:
    - name: Initialize a new DNS cluster
      effectivelywild.technitium_dns.technitium_dns_init_cluster:
        api_url: "{{ technitium_api_url_4 }}"
        api_token: "{{ technitium_api_token_4 }}"
        api_port: "{{ technitium_api_port_4 }}"
        cluster_domain: "example.com"
        primary_node_ip_address: "{{ primary_node_ip_address}}"
      register: init_primary_result

    - name: Wait for DNS cluster to init
      ansible.builtin.pause:
        seconds: 5

    - name: Join DNS server (05) to cluster as Secondary node
      effectivelywild.technitium_dns.technitium_dns_init_join_cluster:
        api_url: "{{ technitium_api_url_5 }}"
        api_token: "{{ technitium_api_token_5 }}"
        api_port: "{{ technitium_api_port_5 }}"
        secondary_node_ip_address: "{{ secondary_node_ip_address_01 }}"
        primary_node_ip_address: "{{ primary_node_ip_address}}"
        ignore_certificate_errors: true
        primary_node_url: "https://test04.local.example.com:53444/"
        primary_node_username: "admin"
        primary_node_password: "topsecret"
      register: init_secondary_result

    - name: Login to secondary node to get valid session token since cluster join invalidates previous token
      effectivelywild.technitium_dns.technitium_dns_login:
        api_url: "{{ technitium_api_url_5 }}"
        api_port: "{{ technitium_api_port_5 }}"
        username: "admin"
        password: "topsecret"
      register: secondary_login_result

    - name: Set updated token fact for technitium_api_token_5
      ansible.builtin.set_fact:
        technitium_api_token_5: "{{ secondary_login_result.token }}"

    - name: Join DNS server (06) to cluster as Secondary node
      effectivelywild.technitium_dns.technitium_dns_init_join_cluster:
        api_url: "{{ technitium_api_url_6 }}"
        api_token: "{{ technitium_api_token_6 }}"
        api_port: "{{ technitium_api_port_6 }}"
        secondary_node_ip_address: "{{ secondary_node_ip_address_02 }}"
        primary_node_ip_address: "{{ primary_node_ip_address}}"
        ignore_certificate_errors: true
        primary_node_url: "https://test04.local.example.com:53444/"
        primary_node_username: "admin"
        primary_node_password: "topsecret"
      register: init_secondary_result

    - name: Login to secondary node to get valid session token since cluster join invalidates previous token
      effectivelywild.technitium_dns.technitium_dns_login:
        api_url: "{{ technitium_api_url_6 }}"
        api_port: "{{ technitium_api_port_6 }}"
        username: "admin"
        password: "topsecret"
      register: secondary_login_result

    - name: Set updated token fact for technitium_api_token_6
      ansible.builtin.set_fact:
        technitium_api_token_6: "{{ secondary_login_result.token }}"

    - name: Idempotent -  Join DNS (05) server to cluster as Secondary node
      effectivelywild.technitium_dns.technitium_dns_init_join_cluster:
        api_url: "{{ technitium_api_url_5 }}"
        api_token: "{{ technitium_api_token_5 }}"
        api_port: "{{ technitium_api_port_5 }}"
        secondary_node_ip_address: "{{ secondary_node_ip_address_01 }}"
        primary_node_ip_address: "{{ primary_node_ip_address}}"
        ignore_certificate_errors: true
        primary_node_url: "https://test04.local.example.com:53444/"
        primary_node_username: "admin"
        primary_node_password: "topsecret"
      register: init_secondary_result

    - name: Idempotent -  Join DNS (06) server to cluster as Secondary node
      effectivelywild.technitium_dns.technitium_dns_init_join_cluster:
        api_url: "{{ technitium_api_url_6 }}"
        api_token: "{{ technitium_api_token_6 }}"
        api_port: "{{ technitium_api_port_6 }}"
        secondary_node_ip_address: "{{ secondary_node_ip_address_02 }}"
        primary_node_ip_address: "{{ primary_node_ip_address}}"
        ignore_certificate_errors: true
        primary_node_url: "https://test04.local.example.com:53444/"
        primary_node_username: "admin"
        primary_node_password: "topsecret"
      register: init_secondary_result

    - name: Get cluster status from primary node
      effectivelywild.technitium_dns.technitium_dns_get_cluster_state:
        api_url: "{{ technitium_api_url_4 }}"
        api_token: "{{ technitium_api_token_4 }}"
        api_port: "{{ technitium_api_port_4 }}"
      register: cluster_state_result

    - name: debug cluster state
      ansible.builtin.debug:
        var: cluster_state_result

    - name: Leave DNS cluster gracefully (05)
      effectivelywild.technitium_dns.technitium_dns_leave_cluster:
        api_url: "{{ technitium_api_url_5 }}"
        api_token: "{{ technitium_api_token_5 }}"
        api_port: "{{ technitium_api_port_5 }}"
      register: leave_cluster_result

    - name: Leave DNS cluster gracefully (06)
      effectivelywild.technitium_dns.technitium_dns_leave_cluster:
        api_url: "{{ technitium_api_url_6 }}"
        api_token: "{{ technitium_api_token_6 }}"
        api_port: "{{ technitium_api_port_6 }}"
      register: leave_cluster_result

    - name: Idempotent - Leave DNS cluster gracefully (05)
      effectivelywild.technitium_dns.technitium_dns_leave_cluster:
        api_url: "{{ technitium_api_url_5 }}"
        api_token: "{{ technitium_api_token_5 }}"
        api_port: "{{ technitium_api_port_5 }}"
      register: leave_cluster_result

    - name: Idempotent - Leave DNS cluster gracefully (06)
      effectivelywild.technitium_dns.technitium_dns_leave_cluster:
        api_url: "{{ technitium_api_url_6 }}"
        api_token: "{{ technitium_api_token_6 }}"
        api_port: "{{ technitium_api_port_6 }}"
      register: leave_cluster_result

    - name: Delete cluster after removing secondary node
      effectivelywild.technitium_dns.technitium_dns_delete_cluster:
        api_url: "{{ technitium_api_url_4 }}"
        api_token: "{{ technitium_api_token_4 }}"
        api_port: "{{ technitium_api_port_4 }}"
      register: delete_cluster_result

    - name: Idempotent - Delete cluster after removing secondary node
      effectivelywild.technitium_dns.technitium_dns_delete_cluster:
        api_url: "{{ technitium_api_url_4 }}"
        api_token: "{{ technitium_api_token_4 }}"
        api_port: "{{ technitium_api_port_4 }}"
      register: delete_cluster_result